*{
    list-style: none;
    text-decoration: none;
    margin: 0%;
    padding: 0%;
}
/* style of all HEADER
- All navbar */
.navbarcolor {
    background-color:rgb(37, 24, 122);
}

.navhover {
    color: white;
}

.navhover:hover {
    background-color: rgb(209, 178, 0);
    color: rgb(37, 24, 122);
}

/* about responsive navbar */
@media screen and (max-width : 991px) {
    .navCenter {
        text-align: center;
    }

    .herobanner {
        align-items: center;
        padding-top: 30vw;
    }

    .herotext {
        padding-top: 10vh;
    }

    .contactIcon a {
        display: none;
    }
}

@media screen and (max-width : 380px) {
    .navCenter {
        text-align: center;
    }

    .herobanner {
        align-items: center;
        padding-top: 35vw;
    }

    .herotext {
        padding-top: 10vh;
    }

    .logo{
        width: 100px;
    }    

    .contactIcon a {
        display: none;
    }

    .bannercolor img {
        width: 300px;
    }
}
@media screen and (min-width : 720px) {
    .navCenter {
        text-align: center;
    }

    .herobanner {
        align-items: center;
        padding-top: 4vw;
    }
}

/* about hero banner*/

.bannercolor {
    background-color: white;
}

.hero {
    width: 360px;
    box-shadow: 12px 8px 1px 1px rgb(209, 178, 0);
}


.herosct {
    background-image: url('image');
}



#typed {
    color: gold;
    font-size: 65px;
}

.contactBtn{
    padding: 1vw;
    margin: 0% 30%;
    background-color:gold ;
    color: white;
    border: none;
    font-size: 30px;
    transition: .3s;
}

.contactBtn:hover{
    color: gold ;
    background-color: white;
    transform: scale(1.1);
}

.contactIcon {
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.contactIcon a {
    transition: .3s;
    text-align: center;
}

.fb {
    color: white;
    background-color: blue;
}

.fb:hover {
    transform: scale(1.1);
    color: blue;
    background-color: white;
}

.wtsp {
    color: white;
    background: limegreen;
}

.wtsp:hover {
    transform: scale(1.1);
    color: limegreen;
    background-color: white;
}

.insta {
    color: white;
    background-color: crimson;

}

.insta:hover {
    transform: scale(1.1);
    color: crimson;
    background-color: white;
}

.twtch{
    color: white;
    background-color: blueviolet;
}

.twtch:hover{
    transform: scale(1.1);
    color: blueviolet;
    background-color: white;
}

.years{
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gold;
    border: 3px solid gold;
    width:100px;
    height: 100px;
    border-radius: 100%;
    font-size: 35px;
}

.degree{
    font-size: 30px;
}

.allCareer{
    align-items: center;
}

.career ul li:nth-child(2){
    justify-content: end;
}